

.footer {
   background-color: #0f0f0f;
   color: #fff;
   padding-block: 3em;
   display: grid;
   grid-template-columns: 2fr 1fr 1fr; /* Layout padrão: 3 colunas */
   grid-gap: 1em;
   &::after {
    content: "@ 2025 | All Rights Reserved Vieira Dev";
    display: block;
    grid-column: 1 / -1; /* Ocupa todas as colunas */
    text-align: center;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 0.9em;
    opacity: 0.8;
  }
    /* Adicione isso fora dos media queries */
    .socials {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        margin-top: 1rem;
      
          .facebook-icon {
            color: #1877F2 ;
            font-size: 2em ; 
          }
          
          /* X/Twitter */
          .x-twitter-icon {
            color: #ffffff ;
            font-size: 2em ;
          }
          
          /* Instagram */
          .instagram-icon {
            color: #fdf497 ; 
            font-size: 2em ;
           }
         
        
      }
}

.footer-section {
   p {
       opacity: 0.9;
       margin-bottom: 0.5em;
       font-size: 1.2em;
   }

   p.title {
       opacity: 1;
       font-size: 1.8em;
       font-weight: bold;
       margin-bottom: 1em;
   }
   
}

/* Media Query para telas médias (tablets) */
@media (max-width: 768px) {
   .footer {
       grid-template-columns: 1fr 1fr; /* 2 colunas em telas menores */
       padding-block: 2em; /* Reduz o padding vertical */
       &::after {
        grid-column: 1 / -1;
      }
   }

   .footer-section {
       p.title {
           font-size: 1.4em; /* Reduz o tamanho da fonte do título */
       }
       svg {
        font-size: 1em; /* Tamanho ideal para mobile */
        margin: 0.05em; /* Espaçamento entre os ícones */
      }
   }
   
}

/* Media Query para telas pequenas (celulares) */
@media (max-width: 480px) {
   .footer {
       grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
       padding-block: 1.5em; /* Reduz ainda mais o padding vertical */
       text-align: center; /* Centraliza o conteúdo */
       &::after {
        margin-top: 1em;
         padding-top: 1em;
      }
   }

   .footer-section {
       p.title {
           font-size: 1.4em; /* Reduz ainda mais o tamanho da fonte do título */
       }
       p{
              font-size: 0.8em;
       }
       .title-socials{
        font-size: 1.4em;
        display: flex;
        justify-content: center;
        
       }
      .socials{
            display: flex;
            justify-content: center;
            gap: 1em;
            margin-top: 1em;
            
            a{
                color: #fff;
                font-size: 1.5em;
            }
      }
      .copyright{
        margin: 0;
      }
   }
   
}




