
.section.improve-skills{
   max-width: 1200px; // Define um tamanho máximo para a seção
   margin: 0 auto; // Centraliza a seção na tela
   padding: 0 20px; // Adiciona um padding lateral para telas menores
   box-sizing: border-box;
    .col.img{
       img{
          width: 100%;
       }
       
    }
    .col.typography{
      margin-top: 5vh;
      h1{
         font-size: 2.2rem;
         
      }
      p{
         font-size: 1.5rem;
         margin-top: .1em;
      }
       padding-left: 1em;
       .skill-item{
          border-left: .2em solid var(--primary-color);
          margin-bottom: .5em;
          padding: .1em 0 .1em .5em;
          color: var(--text-light);
          font-weight: bold;
          transform: translateX(100%);
          opacity: 0;
          animation: getAnimationDuration(.3s)slideInRight forwards;
          @for $i from 1 through 7 {
             &:nth-child(#{$i}){
                animation-delay: #{$i * .2}s ;
             }
          }
          
       }
       .btn{
          margin-top: 0.75em;
 
       }
    }
    @media (max-width: 768px) {
      flex-direction: column; // Empilha a imagem e o texto verticalmente
      gap: 1em; // Adiciona espaçamento entre os elementos
  
      .col.img {
        order: -1; // Coloca a imagem acima do texto
        text-align: center; // Centraliza a imagem
        margin-bottom: 0;
      }
  
      .col.typography {
         margin-top: 1.3em;
        padding-left: 0; // Remove o padding lateral
        text-align: center; // Centraliza o texto
        h1{
         font-size: 2.2rem;
         
      }
      p{
         font-size: 1.1rem;
         margin-top: .1em;
      }
        .skill-item {
         margin-left: 10vw;
         display: flex;
         align-items: center;
          border-left: .2em solid var(--primary-color); 
          transform: translateX(100%);
          padding: .1em 0 .1em .5em;
          opacity: 0; 
          animation: getAnimationDuration(.3s)slideInRight forwards;
          @for $i from 1 through 7 {
             &:nth-child(#{$i}){
                animation-delay: #{$i * .2}s ;
             }
          }
          margin-bottom: 0.5em; // Adiciona espaçamento entre os itens
          color: var(--text-light);
        }
        .btn{
          margin-top: 1.2em;
          margin-bottom: 0;
        }
      }
     
    }
 }